.home-body{
    height: 500px;
    background-image: url('https://dru-cdn.zipcar.com/sites/default/files/big-car-aug16.png');
    background-repeat: no-repeat;
    background-size: 1000px 500px;;
}
.card-search{
    color: white;
    background-color: rgba(6, 194, 69, 0.61);
}