<div class="row list-header mb-3 pb-3 text-center border border-dark border-top-0 border-left-0 border-right-0 border-bottom-1">
	<div class="col-lg-2">
		<strong>Image</strong>
	</div>
	<div class="col-lg-1">
		<strong>Model</strong>
	</div>
	<div class="col-lg-3">
		<strong>Specifications</strong>
	</div>
	<div class="col-lg-4">
		<strong>Daily Rate</strong>
	</div>
	<div class="col-lg-2">
		<strong>Book</strong>
	</div>
</div>

<div class="row mb-3 pb-3 border border-light border-top-0 border-left-0 border-right-0 border-bottom-1">
	<div class="col-lg-4">
		<div class="row">
			<div class="col-6">
				<img style="width: 6rem;" class="card-img-top" src="https://auto.ndtvimg.com/car-images/colors/audi/a3/audi-a3-scuba-blue-metallic.png?v=1"
				 alt="Card image cap">
			</div>
			<div class="col-6">
				discription ....
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<div class="col-12">
				<i class="fa fa-adn mr-3"></i> aaa</div>
			<div class="col-12">
				<i class="fa fa-crosshairs mr-3"></i> aaa</div>
			<div class="col-12">
				<i class="fa fa-male mr-3"></i> adad</div>
			<div class="col-12">
				<i class="fa fa-street-view mr-3"></i>adsda</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<div class="col-4">RM
				<p>34/Hour</p>
			</div>
			<div class="col-8">
				<button class="btn btn-block btn-outline-danger text-uppercase" (click)="BookNow()">book</button>
			</div>
		</div>
	</div>
</div>

<!-- Second Ling  -->
<div class="row mb-3 pb-3 border border-light border-top-0 border-left-0 border-right-0 border-bottom-1">
	<div class="col-lg-4">
		<div class="row">
			<div class="col-6">
				<img style="width: 6rem;" class="card-img-top" src="https://auto.ndtvimg.com/car-images/colors/audi/a3/audi-a3-scuba-blue-metallic.png?v=1"
				 alt="Card image cap">
			</div>
			<div class="col-6">
				discription ....
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<div class="col-12">
				<i class="fa fa-adn mr-3"></i> aaa</div>
			<div class="col-12">
				<i class="fa fa-crosshairs mr-3"></i> aaa</div>
			<div class="col-12">
				<i class="fa fa-male mr-3"></i> adad</div>
			<div class="col-12">
				<i class="fa fa-street-view mr-3"></i>adsda</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="row">
			<div class="col-4">RM
				<p>34/Hour</p>
			</div>
			<div class="col-8">
				<button class="btn btn-block btn-outline-danger text-uppercase" (click)="BookNow()">book</button>
			</div>
		</div>
	</div>
</div>